
*{
    padding: 0px;
    margin: 0px;
}



@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');


:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', Arial, sans-serif;
    --font3: 'Oleo Script', cursive;
  }

html,body{
    min-height: 100%vh;
    background-color: darkgrey;
    font-family: var(--font1);
    
}

header{
    padding-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 4vw;
}

header p{
    padding-bottom: 30px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 3vw;
    font-weight: bold;
}

section.normal{
    background-color: white;
}

section.imagem{
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.247);
    display: inline-block;
    padding: 5px;
    
}












footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}